.authorization-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 1.5% 3% 3% 3%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    align-items: center;
    z-index: 1;
}

.authorization-container__exit-btn {
    position: relative;
    right: -49%;
    cursor: pointer;
}

.authorization-container__header {
    margin-bottom: 5%;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 500;
    cursor: default;
}

.authorization-container__input {
    margin-bottom: 2%;
}

.authorization-container__input:focus {
    outline: none;
    transform: scale(1.02);
}

.authorization-container__btn {
    width: 50%;
    height: 25px;
    margin-top: 3%;
    font-family: inherit;
}