# Application
APP_NAME=OneMate
APP_ENV=production
APP_KEY=base64:
APP_DEBUG=false

APP_URL=https://onemate.letunoff.ru
FRONTEND_URL=https://onemate.letunoff.ru

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=onemate
DB_USERNAME=onemate
DB_PASSWORD=

# Session / Sanctum
SANCTUM_STATEFUL_DOMAINS=onemate.letunoff.ru
SESSION_DOMAIN=.letunoff.ru
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true

# Queue
QUEUE_CONNECTION=database

# Mail
MAIL_MAILER=resend
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=OneMate
RESEND_KEY=

# App
REGISTER_INVITE_CODE=

# Frontend build
VITE_OPENWEATHER_API_KEY=
VITE_IPINFO_API_KEY=
VITE_MYMEMORY_API_KEY=