@layer utilities {
	.core-card {
		@apply rounded-xl p-4;
	}

	.core-base {
		@apply bg-[var(--bg-secondary)] text-[var(--color-primary)];
	}

	.core-elements {
		@apply bg-[var(--bg-tertiary)];
	}

	.core-border {
		@apply rounded-xl border border-solid border-[var(--border-color)];
	}

	.core-header {
		@apply text-center text-xl leading-tight font-bold select-none md:mr-auto md:ml-0 md:text-2xl md:leading-normal;
	}

	.loader {
		@apply aspect-square w-16 animate-spin rounded-full bg-[var(--accent-default)];
		mask-image: radial-gradient(circle closest-side at 50% 40%, transparent 94%, black);
		-webkit-mask-image: radial-gradient(circle closest-side at 50% 40%, transparent 94%, black);
		transform-origin: 50% 40%;
	}

	.scrollbar-gutter-stable {
		scrollbar-gutter: stable;
	}
}
