@layer base {

	html,
	body,
	#root {
		height: 100%;
	}

	html {
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		scrollbar-color: var(--bg-primary) var(--bg-tertiary);
	}

	body {
		min-height: 100svh;
		font-family: 'Nunito', sans-serif;
		font-weight: 500;
		color: var(--text-primary);
		background: var(--bg-base);
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: var(--text-primary);
		caret-color: var(--text-primary);
		box-shadow: 0 0 0 1000px var(--bg-secondary) inset;
	}
}