.dark-theme {
	/* Text */
	/* --text-primary: #f4f7fb; */
	/* --text-secondary: #a8b1c2; */
	/* --text-tertiary: #687286; */
	/* --text-disabled: #5b6372; */
	/* --text-on-accent: #ffffff; */

	/* Background */
	/* --bg-base: #121212; */
	/* --bg-primary: #191820; */
	/* --bg-secondary: rgba(250, 250, 250, 0.05); */
	/* --bg-tertiary: rgba(250, 250, 250, 0.09); */
	/* --bg-overlay: rgba(0, 0, 0, 0.7); */

	/* Primary accent */
	--accent-primary: #7c5cff;
	--accent-primary-hover: #8f72ff;
	--accent-primary-active: #5b8cff;
	--accent-primary-muted: rgba(124, 92, 255, 0.16);
	--accent-primary-disabled: #4a426b;

	/* Secondary accent */
	--accent-secondary: #3ba7ff;
	--accent-secondary-hover: #58b6ff;
	--accent-secondary-active: #2c90c7;
	--accent-secondary-muted: rgba(59, 167, 255, 0.14);
	--accent-secondary-disabled: #31485f;

	/* Status */
	--status-success: #18a121;
	--status-success-muted: rgba(0, 201, 81, 0.1);

	--status-error: #ff2828;
	--status-error-muted: rgba(255, 40, 40, 0.1);

	--status-warning: #ffa515;
	--status-warning-muted: rgba(255, 165, 21, 0.1);

	--status-info: #2c90c7;
	--status-info-muted: rgba(44, 144, 199, 0.1);

	/* Border */
	--border-primary: rgba(250, 250, 250, 0.071);
	--border-secondary: rgba(250, 250, 250, 0.15);

	/* Shadow */
	--shadow-sm: none;
	--shadow-md: none;
	--shadow-lg: none;
}

.light-theme {
	/* Text */
	/* --text-primary: #161a24; */
	/* --text-secondary: #5d6678; */
	/* --text-tertiary: #8a93a5; */
	/* --text-disabled: #5b6372; */
	/* --text-on-accent: #ffffff; */

	/* Background */
	/* --bg-base: #d5d5d5; */
	/* --bg-primary: #f1f1f1; */
	/* --bg-secondary: rgba(250, 250, 250, 0.6); */
	/* --bg-tertiary: #ffffff; */
	/* --bg-overlay: rgba(0, 0, 0, 0.7); */

	/* Primary accent */
	--accent-primary: #6d5dfc;
	--accent-primary-hover: #5b4cf0;
	--accent-primary-active: #5143dc;
	--accent-primary-muted: rgba(109, 93, 252, 0.1);
	--accent-primary-disabled: #c4bfff;

	/* Secondary accent */
	--accent-secondary: #168de2;
	--accent-secondary-hover: #0f78c4;
	--accent-secondary-active: #0d6daf;
	--accent-secondary-muted: rgba(22, 141, 226, 0.1);
	--accent-secondary-disabled: #b7d9ef;

	/* Status */
	--status-success: #0b8d4c;
	--status-success-muted: rgba(0, 201, 81, 0.3);

	--status-error: #ff2f2f;
	--status-error-muted: rgba(255, 47, 47, 0.1);

	--status-warning: #dd8c00;
	--status-warning-muted: rgba(255, 165, 21, 0.3);

	--status-info: #31b7ff;
	--status-info-muted: rgba(49, 183, 255, 0.1);

	/* Border */
	--border-primary: rgba(0, 0, 0, 0.15);
	--border-secondary: rgba(0, 0, 0, 0.08);

	/* Shadow */
	--shadow-sm: 0 1px 2px rgb(40 66 75 / 12%);
	--shadow-md: 0 4px 12px rgb(40 66 75 / 15%);
	--shadow-lg: 0 8px 30px rgb(40 66 75 / 18%);
}