.dark-theme {
	/* Текст */
	--text-primary: #d7d7d7;
	--text-secondary: #a0a0a0;
	--text-tertiary: #687286;
	--text-disabled: #666666;
	--text-on-accent: #ffffff;

	/* Фон */
	--bg-base: #19191a;
	--bg-primary: #19191a;
	--bg-secondary: #222224;
	--bg-tertiary: #39393a;
	--bg-overlay: rgba(0, 0, 0, 0.7);

	/* Акцент */
	--accent-primary: #e18127;
	--accent-primary-hover: #e15300;
	--accent-primary-active: #5b8cff;
	--accent-primary-muted: rgba(124, 92, 255, 0.16);
	--accent-primary-disabled: #4a426b;

	--accent-secondary: #7d6fe4;
	--accent-secondary-hover: #58b6ff;
	--accent-secondary-active: #2c90c7;
	--accent-secondary-muted: rgba(59, 167, 255, 0.14);
	--accent-secondary-disabled: #31485f;

	/* Специальные */
	--special-danger: #b51111;
	--special-danger-hover: #8d0404;

	/* Статусы */
	--status-success: #18a121;
	--status-success-muted: rgba(0, 201, 81, 0.1);
	--status-error: #ff2828;
	--status-error-muted: rgba(255, 40, 40, 0.1);
	--status-warning: #ffa515;
	--status-warning-muted: rgba(255, 165, 21, 0.1);
	--status-info: #2c90c7;
	--status-info-muted: rgba(44, 144, 199, 0.1);

	/* Границы */
	--border-primary: #39393a;
	--border-secondary: #a0a0a0;
	--border-contrast: transparent;

	/* Тени */
	--shadow-contrast: none;

	/* Приоритет (Kanban) */
	--priority-low: #76a9ff;
	--priority-medium: #64c371;
	--priority-high: #ff4039;

	/* Палитра (Kanban) */
	--palette-slate: #94a3b8;
	--palette-rose: #fb7185;
	--palette-amber: #fbbf24;
	--palette-emerald: #34d399;
	--palette-violet: #a78bfa;
	--palette-lime: #84cc16;
	--palette-fuchsia: #e879f9;
	--palette-sky: #38bdf8;
}

.light-theme {
	/* Текст */
	--text-primary: #2f3441;
	--text-secondary: #1d1c1c;
	--text-tertiary: #8a93a5;
	--text-disabled: #666666;
	--text-on-accent: #ffffff;

	/* Фон */
	--bg-base: #e7e7e7;
	--bg-primary: #e7e7e7;
	--bg-secondary: #f1f1f1;
	--bg-tertiary: #f8f7f7;
	--bg-overlay: rgba(0, 0, 0, 0.7);

	/* Акцент */
	--accent-primary: #7d6fe4;
	--accent-primary-hover: #8f72ff;
	--accent-primary-active: #5b8cff;
	--accent-primary-muted: rgba(124, 92, 255, 0.16);
	--accent-primary-disabled: #4a426b;

	--accent-secondary: #3ba7ff;
	--accent-secondary-hover: #58b6ff;
	--accent-secondary-active: #2c90c7;
	--accent-secondary-muted: rgba(59, 167, 255, 0.14);
	--accent-secondary-disabled: #31485f;

	/* Специальные */
	--special-danger: #b51111;
	--special-danger-hover: #8d0404;

	/* Статусы */
	--status-success: #0b8d4c;
	--status-success-muted: rgba(0, 201, 81, 0.3);
	--status-error: #ff2f2f;
	--status-error-muted: rgba(255, 47, 47, 0.1);
	--status-warning: #dd8c00;
	--status-warning-muted: rgba(255, 165, 21, 0.3);
	--status-info: #31b7ff;
	--status-info-muted: rgba(49, 183, 255, 0.1);

	/* Границы */
	--border-primary: #d4d7df;
	--border-secondary: #e3e3e3;
	--border-contrast: #d4d7df;

	/* Тени */
	--shadow-contrast: 0 1px 2px 0px rgb(40 66 75 / 22%);

	/* Приоритет (Kanban) */
	--priority-low: #76a9ff;
	--priority-medium: #64c371;
	--priority-high: #ff4039;

	/* Палитра (Kanban) */
	--palette-slate: #94a3b8;
	--palette-rose: #fb7185;
	--palette-amber: #f59e0b;
	--palette-emerald: #34d399;
	--palette-violet: #a78bfa;
	--palette-lime: #8ecf23;
	--palette-fuchsia: #e879f9;
	--palette-sky: #38bdf8;
}