.dark-theme {
	/* Текст */
	--text-primary: #d7d7d7;
	--text-secondary: #a0a0a0;
	--text-tertiary: #687286;
	--text-disabled: #666666;
	--text-on-accent: #ffffff;

	/* Фон */
	--bg-base: #18191b;
	--bg-primary: #1e1f22;
	--bg-secondary: #242528;
	--bg-tertiary: #39393a;
	--bg-overlay: #000000b3;

	/* Акцент */
	--accent-primary: #e98224;
	--accent-primary-hover: #dc761b;
	--accent-primary-active: #c96713;
	--accent-primary-muted: #e982241a;

	--accent-secondary: #8073e8;
	--accent-secondary-hover: #8e82ef;
	--accent-secondary-active: #6d60d4;
	--accent-secondary-muted: #8073e826;

	/* Специальные */
	--danger: #b51111;
	--danger-hover: #8d0404;
	--special-tone: #ffffff08;

	--tone: #ffffff08;
	--tone-hover: #ffffff0f;
	--tone-strong: #ffffff0d;
	--tone-strong-hover: #ffffff1a;

	/* Статусы */
	--status-success: #18a121;
	--status-success-muted: rgba(0, 201, 81, 0.1);
	--status-error: #ff2828;
	--status-error-muted: rgba(255, 40, 40, 0.1);
	--status-warning: #ffa515;
	--status-warning-muted: rgba(255, 165, 21, 0.1);
	--status-info: #2c90c7;
	--status-info-muted: rgba(44, 144, 199, 0.1);

	/* Границы */
	--border-primary: #39393a;
	--border-secondary: #a0a0a0;
	--border-contrast: transparent;
	--border-tone: #ffffff26;

	/* Тени */
	--shadow-contrast: none;

	/* Приоритет (Kanban) */
	--priority-low: #7095cf;
	--priority-medium: #65a86e;
	--priority-high: #d85b55;

	/* Палитра (Kanban) */
	--palette-slate: #94a3b8;
	--palette-rose: #fb7185;
	--palette-amber: #fbbf24;
	--palette-emerald: #34d399;
	--palette-violet: #a78bfa;
	--palette-lime: #84cc16;
	--palette-fuchsia: #e879f9;
	--palette-sky: #38bdf8;
}

.light-theme {
	/* Текст */
	--text-primary: #30333a;
	--text-secondary: #212327;
	--text-tertiary: #8b909a;
	--text-disabled: #a4a8b0;
	--text-on-accent: #ffffff;

	/* Фон */
	--bg-base: #d8dade;
	--bg-primary: #dfe1e4;
	--bg-secondary: #e5e6e8;
	--bg-tertiary: #d5d7da;
	--bg-overlay: #00000099;

	/* Акцент */
	--accent-primary: #7869dc;
	--accent-primary-hover: #6e5fd2;
	--accent-primary-active: #6253c2;
	--accent-primary-muted: #7869dc1a;

	--accent-secondary: #d98232;
	--accent-secondary-hover: #cb7528;
	--accent-secondary-active: #b96520;
	--accent-secondary-muted: #d982321f;

	/* Специальные */
	--danger: #b51111;
	--danger-hover: #8d0404;

	--tone: #00000008;
	--tone-hover: #0000000f;
	--tone-strong: #0000000d;
	--tone-strong-hover: #0000001a;

	/* Статусы */
	--status-success: #0b8d4c;
	--status-success-muted: rgba(0, 201, 81, 0.3);
	--status-error: #ff2f2f;
	--status-error-muted: rgba(255, 47, 47, 0.1);
	--status-warning: #dd8c00;
	--status-warning-muted: rgba(255, 165, 21, 0.3);
	--status-info: #31b7ff;
	--status-info-muted: rgba(49, 183, 255, 0.1);

	/* Границы */
	--border-primary: #c3c3c3;
	--border-secondary: #c9ccd2;
	--border-contrast: #c3c3c3;
	--border-tone: #00000026;

	/* Тени */
	--shadow-contrast: 0 1px 2px rgb(35 40 50 / 10%);

	/* Приоритет (Kanban) */
	--priority-low: #7095cf;
	--priority-medium: #65a86e;
	--priority-high: #d85b55;

	/* Палитра (Kanban) */
	--palette-slate: #94a3b8;
	--palette-rose: #fb7185;
	--palette-amber: #f59e0b;
	--palette-emerald: #34d399;
	--palette-violet: #a78bfa;
	--palette-lime: #8ecf23;
	--palette-fuchsia: #e879f9;
	--palette-sky: #38bdf8;
}