@utility core-surface {
	@apply rounded-xl border border-(--border-primary);
}

@utility core-surface-contrast {
	@apply rounded-xl border border-(--border-contrast);
}

@utility core-card {
	@apply rounded-lg border border-(--border-primary);
}

@utility core-card-contrast {
	@apply rounded-lg border border-(--border-contrast);
}

@utility core-tone {
	@apply bg-(--tone) text-(--text-secondary) transition-colors hover:bg-(--tone-hover) hover:text-(--text-primary) focus:text-(--text-primary);
}

@utility core-tone-strong {
	@apply bg-(--tone-strong) text-(--text-secondary) transition-colors hover:bg-(--tone-strong-hover) hover:text-(--text-primary) focus:text-(--text-primary);
}

@utility core-pad {
	@apply p-2 lg:p-3 2xl:p-4;
}

@utility core-gap {
	@apply gap-2 md:gap-3 2xl:gap-4;
}

@utility trim {
	text-box: trim-both cap alphabetic;
}

/* Отключение touch эффекта на элементе */
@utility no-touch-callout {
	@apply select-none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

/* Отключение спиннера чисел для инпутов */
@utility number-no-spinner {
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}
}

/* Кастомизация скроллбара */
@utility core-scrollbar {
	@apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-(--border-primary);
}