.notes-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1%;
    border-radius: 10px;
}

.notes-container__notes {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.notes-container__notes__note {
    position: relative;
    display: flex;
    height: 100%;
}

.notes-container__notes__note__textarea {
    flex: 1 1;
    height: 98%;
    padding: 3px 10px 0;
    line-height: 1;
    border-radius: 10px;
}

.notes-container__notes__note__clear-btn {
    position: absolute;
    top: 0%;
    right: 2.5%;
    color: black;
    cursor: pointer;
}

.help {
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
    cursor: help !important;
}